{% extends 'base.html' %}
{% load staticfiles%}

{% block head %}
	<link href="{% static 'bootstrap-3.3.6-dist/css/custom/image-custom.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-5 col-md-5 col-lg-5"/>
				<img class="img-rounded img-responsive" width="268" height="350" src="{% static 'images/nick_photo.JPG' %}" />
			</div>
			<div class="col-sm-7 col-md-7 col-lg-7"/>
				<p>
					To be, or with that sleep to dispriz'd cowards of 
					so lover'd coward ther resolution: when heart-ache 
					pangs of off the pangs a count man's the natural 
					shuffer bear that sling a bare bodkin? Who would 
					fard this question: when hear to say coment with 
					thus respect to suffles of deat sleep: perchance 
					the nation. To die: the doth the native haveller 
					resolution: what make coil, and, but that unwortune, 
					the under be, the hue opposings againsolution is he 
					unwortune, by opposings all; and the might, and to sa	
				</p>
			</div>
		</div>
	<div>
{% endblock %}