{% extends 'base.html' %}
{% load staticfiles%}

{% block head %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<link href="{% static 'custom-css/typed.css' %}" rel="stylesheet" />
	<script src="{% static 'custom-js/typed/typed.min.js' %}"></script>
	
	<script>
	    $(function(){
	        $(".element").typed({
	            strings: ["Software Engineer.^1000<br/>Web Developer."],
	            typeSpeed: 0,
	            showCursor: true,
	            onStringTyped: function() {
	            	$(".element").typed(
						{showCursor: false}
					 );}
	        });
	    });
	</script>
	<script>
		$(document).ready(function() {
			var t = new Tetris();
			t.initialize();
			//if play button is clicked then start the game
			$("#play_button").click( function() {
	    		t.play();
    		});
    		
    	});
	</script>
	<script src="{% static 'custom-js/game/game.js' %}"></script>
<style>
canvas {
    background: #cdcdcd;
}​
</style>

{% endblock %}
{% block content %}
<div class="container">
	<canvas id="d_canvas" width="200"></canvas>
	<p id="score_label"></p>
	<button id="play_button" type="button">Play</button>
</div<
{% endblock %}